.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border: 1px solid var(--border-color);
  box-shadow: var(--card-shadow);
  background-color: var(--accent-bg-color);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-page-link {
  padding: 10px 0;
}

.add-btn {
  margin-left: auto;
  padding: 10px 0;
  cursor: pointer;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.favorite-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  cursor: pointer;
  pointer-events: all;
}

.lable {
  margin-left: 10px;
  text-transform: capitalize;
}
