.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--border-color);
  box-shadow: var(--card-shadow);
  background-color: var(--text-field-bg-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-page-link {
  padding: 10px 0;
}

.add-btn {
  margin-left: auto;
  padding: 10px 0;
  cursor: pointer;
}
