.category-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-right: 20px;
  cursor: pointer;
}

.lable {
  margin-left: 10px;
  text-transform: capitalize;
}
