@import url("normalize.css");
@import url("variables.css");
@import url("container.css");

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.main {
  height: 100vh;
  padding-top: 50px;
}
