:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;

  /* Text Colors */
  --title-color: #333;
  --text-color: #212121;
  --date-color: #777;

  /* Background Colors */
  --bg-color: #ffffff;
  --accent-bg-color: #f8f8f8;

  /* Brand Colors */
  --icon-color: #aaa;
  --primary-accent-color: #2a9d8f;
  --secondary-accent-color: #e9c46a;
  --border-color: #ddd;

  /* Shadows */
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --active-card-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  /* Gaps */
  --grid-item-gap: 10px;

  /* Animations */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
