.note-card {
  position: relative;
  margin: calc(var(--grid-item-gap) / 2);
  background-color: var(--text-field-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--card-shadow);
  transition: box-shadow var(--animation);
  overflow: hidden;
}

.note-card:hover {
  box-shadow: var(--active-card-shadow);
}

@media screen and (max-width: 319px) {
  .note-card {
    flex-basis: calc(100% - var(--grid-item-gap));
  }
}

@media screen and (min-width: 320px) {
  .note-card {
    flex-basis: calc((100% - 2 * var(--grid-item-gap)) / 2);
  }
}

@media screen and (min-width: 768px) {
  .note-card {
    flex-basis: calc((100% - 4 * var(--grid-item-gap)) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .note-card {
    flex-basis: calc((100% - 6 * var(--grid-item-gap)) / 6);
  }
}

.card-content {
  height: 100%;
  padding: 10px;
}

.icons-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4px;
}

.star-icon {
  margin-right: 10px;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.title {
  height: 31px;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  color: var(--title-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  height: 75px;
  margin-bottom: 4px;
  color: var(--text-color);
  overflow-y: scroll;
  text-overflow: ellipsis;
}

.date {
  color: var(--date-color);
  font-size: 12px;
}
